/blib/
/.build/
_build/
cover_db/
inc/
Build
!Build/
Build.bat
c_code/split/split
c_code/split/split.o
c_code/validate_bam/validate_bam
c_code/validate_bam/validate_bam.o
c_code/transpose_bam/transpose_bam
.last_cover_stats
/Makefile
/Makefile.old
/MANIFEST.bak
/META.yml
/META.json
/MYMETA.*
nytprof.out
/pm_to_blib
*.o
*.bs
/_eumm/
._*
.idea/
